body {
	margin: 0;
}

#topPanel {
	height: 400px;
	background: linear-gradient(90deg, #62bdfc 0%, #8490ff 100%);
	/*Used with display: inline-block to make #content an inline element in order to center*/
	text-align: center;
}

#content {
	display: inline-block;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

#profileDiv {
	margin-top: 2px;
	margin-left: 5vw;
	margin-right: 35px;
	float: left;
}

#aboutDiv {
	width: 420px;
	float: left;
	text-align: left;
}

#profileDiv img {
	width: 200px;
	border-radius: 50%;
	border: 3px solid white;
}

#aboutDiv h1, #aboutDiv p {
	font-family: Poppins;
	color: white;
	font-weight: 200;
}

#aboutDiv h1 {
	font-size: 36px;
	line-height: 1.2;
	margin: 0;
}

#aboutDiv h1 span {
	font-weight: 700;
	text-transform: uppercase;
}

#aboutDiv p {
	font-size: 12px;
	line-height: 1.4;
	margin-top: 24px;
	margin-bottom: 0;
}

@media only screen and (max-width: 715px) {
	#topPanel {height: auto}
	#content {margin: 20px 0}
	#profileDiv {clear: both;
				 width: 100%;
				 margin: 0 auto;}
	#aboutDiv {clear: both;
			   text-align: center;}
}





/*Images are 5:3 (20:33, 60 percent)*/
#middlePanel1 {
	display: grid;
	grid-template-columns: auto 33% 33% auto;
	grid-gap: 50px;
	background-color: #F5F5F5;
	padding: 50px 0;
	overflow: hidden;
}

#leftPadding {
	grid-area: 1 / 1 / 3 / 2;
	background-color: #F5F5F5;
}

#rightPadding {
	background-color: #F5F5F5
}

.projects {
	/*flex used to even out uneven heights on projects*/
	display: flex;
	flex-direction: column;
	background-color: white;
	font-family: Open Sans;
  	border-radius: 4px;
  	/* box-shadow: h-offset v-offset blur spread color*/
  	box-shadow: 0 0 6px 0 rgba(30,45,62,.09);
  	transition: box-shadow 0.2s;
}

.projects:hover {
	box-shadow: 0 10px 15px 0 rgba(30,45,62,.04), 0 0 50px 0 rgba(31,44,60,.05);
}

.image {
	border-radius: 4px 4px 0 0;
	width: 100%;
	opacity: 0.8;
	transition: opacity 0.2s;
}

.projects:hover .image {
	opacity: 0.9;
}

.card-content {
	flex: 1;
	padding: 20px 30px 0 30px;
}

.card-tag {
	display: flex;
	margin-bottom: 8px;
}

.text-sm {
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #A3AFBF;
    padding-right: 8px;
}

.card-content h4 {
	font-family: PT Serif;
	font-size: 28px;
	margin: 0;
}

.card-content p {
	font-size: 18px;
	margin: 10px 0 0;
	color: #526173;
}

.buttonDiv {
	text-align: center;
	margin: 20px 0 40px;
}

.button{
	display: inline-block;
	width: 100px;
    line-height: 40px;
    color: #708090;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    /* box-shadow: h-offset v-offset blur spread color*/
    box-shadow: 0px 2px 6px 1px rgba(30,45,62,.09);
    border-radius: 6px;
    opacity: 0.8;
    transition: all 0.4s;
}

.demo {
	margin-right: 15%;
}

.button:hover {
	color: #ffff;
	background: #f6b93b;
	box-shadow: 2px 2px 6px 4px rgba(30,45,62,.09), 3px 6px 12px 2px rgba(30,45,62,.15);
    transform: translateY(-1px);
}

@media only screen and (max-width: 1200px) {
	#middlePanel1 { grid-template-columns: auto 40% 40% auto}
}

@media only screen and (max-width: 800px) {
	/*For the Middle Panel*/
	#middlePanel1 { grid-template-columns: auto 80% auto;
					grid-gap: 50px 0;}
	#leftPadding {grid-area: 1 / 1 / 4 / 2;}
	#rightPadding {grid-area: 1 / 3 / 4 / 4;}
}

@media only screen and (max-width: 550px) {
	#middlePanel1 { grid-template-columns: auto 90% auto}
}




#middlePanel2 {
	height: 500px;
}

#bottomPanel {
	background: linear-gradient(180deg, #62bdfc 0%, #62bdfc 30%, #8490ff 100%);
	font-family: Poppins;
	color: white;
	font-weight: 200;
	text-align: center;
	overflow: auto;
}

#bottomPanel h1 {
	font-size: 38px;
	text-transform: uppercase;
	margin: 30px 0 0;
}

#p1 {
	margin: 20px 30px 55px;
}

#bottomPanel > a {
	display: inline-block;
	text-decoration: none;
}

#linkedin, #github {
	margin-right: 60px;
}

#bottomPanel i {
	color: white;
	font-size: 52px;
	transition: transform 0.2s;
}

#bottomPanel i:hover {
	transform: scale(1.1);
}

ul {
	margin: 55px 0 25px;
	padding-left: 0;
}

li{
	display: inline-block;
}

#p2 {
	margin: 0;
}

/*Used to keep bold from shifting content*/
#p2::after {
	display: block;
	content: "Click here to view my";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

#resume {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	transition: font-weight 0.2s;
}

#resume:hover {
	font-weight: bold;
}

/*Used to keep bold from shifting content*/
#resume::after {
	display: block;
	content: "resume";
	text-transform: uppercase;
	font-weight: bold;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

hr {
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ffffff, #ffffff, rgba(0, 0, 0, 0));

	/*background-color: white;
	margin: 8px 40px;*/
}

#footer {
	font-size: 13px;
	overflow: hidden;
}

#footer p{
	display: inline-block;
	margin-left: 40px;
	float: left;
}

#footer a {
	margin: 13px 40px 0 0;
	float: right;
	color: white;
	text-decoration: none;
	transition: font-weight 0.2s;
}

#footer a:hover {
	font-weight: bold;
}

/*Used to keep bold from shifting content*/
#footer a::after {
	display: block;
	content: "website v1";
	font-weight: bold;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
