/*body {
	margin: 0;
	min-width: 290px;
}*/

.table {
	width:100%;
	max-width:800px;
	border:0px;
	border-spacing:0px;
	border-collapse:separate;
	margin: 0 auto;
}

/*TOP PROFILE PORTION*/
#introTD{
	padding: 2.5%;
	/*width: 60%;*/
}
#profileTD{
	padding: 2.5%;
	width: 25%;
}

#profileTD img {
	display: block;
	margin: 0 auto;
	width: 100%;
	border-radius: 50%;
	/*border: 3px solid white;*/
}

#name, #contact{
	text-align: center;
}


/*MIDDLE PORTION*/

.subheader {
	margin-bottom: 0;
}

.descriptionTD{
	padding: 0 2.5% 2.5% 2.5%;  /* top right bottom left*/
	/*width: 60%;*/
}

.logoTD{
	/*padding: 2.5% 2.5% 2.5% 0;*/
	width: 10%;
}

.logoTD img{
	display: block;
	margin: 0 auto;
	width: 100%;
	border-radius: 50%;
	/*border: 3px solid white;*/
}



/*FOOTNOTE PORTION*/
#footer {
	text-align: center;
	/*display: inline-block;*/
	/*margin: 13px 0 13px 40px;*/
	/*float: left;*/
}

/*#footer a {
	display: inline-block;
	margin: 16px 0;
	float: right;
}*/