body {
	margin: 0;
}

#topPanel {
	height: 400px;
	background: linear-gradient(90deg, #62bdfc 0%, #8490ff 100%);
	/*Used with display: inline-block to make #content an inline element in order to center*/
	text-align: center;
}

#content {
	display: inline-block;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

#profileDiv {
	margin-top: 2px;
	margin-left: 5vw;
	margin-right: 35px;
	float: left;
}

#aboutDiv {
	width: 420px;
	float: left;
	text-align: left;
}

#profileDiv img {
	width: 200px;
	border-radius: 50%;
	border: 3px solid white;
}

#aboutDiv h1, #aboutDiv p {
	font-family: Poppins;
	color: white;
	font-weight: 200;
}

#aboutDiv h1 {
	font-size: 36px;
	line-height: 1.2;
	margin: 0;
}

#aboutDiv h1 span {
	font-weight: 700;
	text-transform: uppercase;
}

#aboutDiv p {
	font-size: 12px;
	line-height: 1.4;
	margin-top: 24px;
	margin-bottom: 0;
}

@media only screen and (max-width: 715px) {
	#topPanel {height: auto}
	#content {margin: 20px 0}
	#profileDiv {clear: both;
				 width: 100%;
				 margin: 0 auto;}
	#aboutDiv {clear: both;
			   text-align: center;}
}





/*Images are 5:3 (20:33, 60 percent)*/
#middlePanel1 {
	display: grid;
	grid-template-columns: auto 33% 33% auto;
	grid-gap: 50px;
	background-color: #F5F5F5;
	padding: 50px 0;
	overflow: hidden;
}

#leftPadding {
	grid-area: 1 / 1 / 3 / 2;
	background-color: #F5F5F5;
}

#rightPadding {
	background-color: #F5F5F5
}

.projects {
	background-color: white;
	font-family: Open Sans;
  	border-radius: 4px;
  	/* box-shadow: h-offset v-offset blur spread color*/
  	box-shadow: 0 0 6px 0 rgba(30,45,62,.09);
  	transition: box-shadow 0.2s;
}

.projects:hover {
	box-shadow: 0 10px 15px 0 rgba(30,45,62,.04), 0 0 50px 0 rgba(31,44,60,.05);
}

.image {
	border-radius: 4px 4px 0 0;
	width: 100%;
	opacity: 0.8;
	transition: opacity 0.2s;
}

.projects:hover .image {
	opacity: 0.9;
}

.card-tag {
	display: flex;
	margin-bottom: 8px;
}

.text-sm {
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #A3AFBF;
    padding-right: 8px;
}

.card-content {
	padding: 20px 30px 30px;
}

.card-content h4 {
	font-family: PT Serif;
	font-size: 28px;
	margin: 0;
}

.card-content p {
	font-size: 18px;
	margin-bottom: 0;
	color: #526173;
}

@media only screen and (max-width: 1200px) {
	#middlePanel1 { grid-template-columns: auto 40% 40% auto}
}

@media only screen and (max-width: 800px) {
	/*For the Middle Panel*/
	#middlePanel1 { grid-template-columns: auto 80% auto;
					grid-gap: 50px 0;}
	#leftPadding {grid-area: 1 / 1 / 4 / 2;}
	#rightPadding {grid-area: 1 / 3 / 4 / 4;}
}

@media only screen and (max-width: 550px) {
	#middlePanel1 { grid-template-columns: auto 90% auto}
}




#middlePanel2 {
	height: 500px;
}

#bottomPanel {
	height: 150px;
	background: linear-gradient(180deg, #62bdfc 0%, #8490ff 100%);
}