h1 {
	font-family: Raleway;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 5%;
	margin-left: 2%;
	margin-top: 2%;
}

#outerbox {
	margin-left: 5%;
	margin-right: 5%;
}

.projects {
	float: left;
	width: 30%;
}

div h4 {
	text-align: center;
	margin-bottom: 15em;
}

/*paragraph and anchor tag*/
div div *:not(h4)  {
	float: left;
	width: 50%;
	text-align: center;
	margin: auto;
}
